
/* Html */

html {
    scroll-behavior: auto !important;
}

/* Body */

body {
    background-color: #000000;
}

/* Navbar */

.navbar {
    background-color: transparent;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.navbar-brand img {
    width: 5vh;
}


/* Hero section */

#Hero-section img {
    height: 100vh;
    width: 100vw;
}

#Hero-section button {
    height: fit-content;
}